In [3]:
import pymysql
import pandas as pd

In [4]:
dbhost = '142.93.201.12'
dbport = 3306
dbuser = 'haz77'
dbpasswd = '3538728'
dbname = 'haz77'

In [5]:
conn = pymysql.connect(host=dbhost, port=dbport, user=dbuser, passwd=dbpasswd, db=dbname)

In [6]:
conn.autocommit(1)
cursor = conn.cursor()

In [1]:
for index, row in unique.iterrows():

    sql = "INSERT IGNORE INTO haz77.place"
    sql = sql + "(placeID)"
    sql = sql + "VALUES ('"
    sql = sql + str(int(row['placeID'])) 
    sql = sql + "');"
    
    print(sql)
    #cursor.execute(sql)

NameError: name 'unique' is not defined

In [82]:
rf = pd.read_csv('data/rating_final.csv')

In [83]:
for index, row in rf.iterrows():
    
    sql = "INSERT INTO haz77.rating_final"
    sql = sql + "(fk_r_userID, fk_r_placeID, rating, food_rating, service_rating)"
    sql = sql + "VALUES ('" + str(row["userID"]) + "', '"
    sql = sql + str(int(row["placeID"]))+ "',' "
    sql = sql + str(int(row["rating"])) + "',' "
    sql = sql + str(int(row["food_rating"])) + "',' "
    sql = sql + str(int(row["service_rating"])) + "'); "
    
    cursor.execute(sql)

OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond)')

In [43]:
ra = pd.read_csv('data/geoplaces2.csv')

In [47]:
for index, row in ra.iterrows():
    
    sql = "INSERT INTO haz77.geoplaces2"
    sql = sql + "(fk_geo_placeID, latitude, longitude, the_geom_meter, name, address, city, state, country, fax, zip, alcohol, smoking_area, dress_code, accessibility, price, url, Rambience, franchise, area, other_services)"
    sql = sql + "VALUES ('" + str(int(row["placeID"])) + "', '"
    sql = sql + str(row["latitude"]) + "', '"
    sql = sql + str(row["longitude"]) + "',' "
    sql = sql + str(row["the_geom_meter"]) + "',' "
    sql = sql + str(row["name"]) + "',' "
    sql = sql + str(row["address"]) + "',' "
    sql = sql + str(row["city"]) + "',' "
    sql = sql + str(row["state"]) + "',' "
    sql = sql + str(row["country"]) + "',' "
    sql = sql + str(row["fax"]) + "',' "
    sql = sql + str(row["zip"]) + "',' "
    sql = sql + str(row["alcohol"]) + "',' "
    sql = sql + str(row["smoking_area"]) + "',' "
    sql = sql + str(row["dress_code"]) + "',' "
    sql = sql + str(row["accessibility"]) + "',' "
    sql = sql + str(row["price"]) + "',' "
    sql = sql + str(row["url"]) + "',' "
    sql = sql + str(row["Rambience"]) + "',' "
    sql = sql + str(row["franchise"]) + "',' "
    sql = sql + str(row["area"]) + "',' "
    sql = sql + str(row["other_services"]) + "'); "
    
    cursor.execute(sql)

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`haz77`.`geoplaces2`, CONSTRAINT `fk_geo_placeID` FOREIGN KEY (`fk_geo_placeID`) REFERENCES `place` (`placeID`) ON DELETE CASCADE ON UPDATE CASCADE)')

In [40]:
da = pd.read_csv('data/userpayment.csv')

In [41]:
for index, row in da.iterrows():

    sql = "INSERT INTO haz77.userpayment"
    sql = sql + "(fk_p_userID, Upayment)"
    sql = sql + "VALUES ('" + str(row["userID"]) + "', '"
    sql = sql + str(row["Upayment"]) + "'); "
    
    print(sql)
    cursor.execute(sql)

INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1001', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1002', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1003', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1004', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1004', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1005', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1006', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1007', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1008', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1009', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1010', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1011', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1012', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1012', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1013', 'MasterCard-Eurocard');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1013', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1014', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1015', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1016', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1017', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1017', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1018', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1019', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1020', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1020', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1021', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1022', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1023', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1026', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1026', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1027', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1028', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1029', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1030', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1031', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1031', 'American_Express');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1032', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1033', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1034', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1035', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1035', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1036', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1037', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1038', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1039', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1040', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1041', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1041', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1041', 'American_Express');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1041', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1042', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1043', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1044', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1044', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1044', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1044', 'MasterCard-Eurocard');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1045', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1046', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1047', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1048', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1049', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1050', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1051', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1051', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1052', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1053', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1054', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1055', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1056', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1057', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1057', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1058', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1059', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1060', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1061', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1061', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1062', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1062', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1063', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1064', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1065', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1066', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1066', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1067', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1068', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1069', 'MasterCard-Eurocard');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1069', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1070', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1071', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1072', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1072', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1073', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1074', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1074', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1075', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1076', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1076', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1076', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1077', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1077', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1077', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1078', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1078', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1078', 'cash');

INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1079', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1080', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1081', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1082', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1083', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1084', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1085', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1086', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1086', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1086', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1087', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1089', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1090', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1091', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1092', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1093', 'American_Express');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1093', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1094', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1095', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1096', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1097', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1098', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1099', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1099', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1100', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1101', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1102', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1103', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1103', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1104', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1104', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1105', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1106', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1106', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1107', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1107', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1108', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1108', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1108', 'MasterCard-Eurocard');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1109', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1110', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1111', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1112', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1113', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1113', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1114', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1115', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1116', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1116', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1116', 'VISA');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1117', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1117', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1118', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1119', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1120', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1121', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1121', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1123', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1124', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1125', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1126', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1127', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1128', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1129', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1131', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1132', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1133', 'bank_debit_cards');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1133', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1134', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1135', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1136', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1137', 'cash');
INSERT INTO haz77.userpayment(fk_p_userID, Upayment)VALUES ('U1138', 'cash');

In [21]:
ca = pd.read_csv('data/userprofile.csv')

In [1]:
for index, row in ca.iterrows():

    sql = "INSERT INTO haz77.userprofile"
    sql = sql + "(userID,latitude, longitude, smoker, drink_level, dress_preference, ambience, transport, marital_status, hijos, birth_year, interest, personality, religion, activity, color, weight, budget, height)"
    sql = sql + "VALUES ('" + str(row["userID"]) + "', '"
    sql = sql + str(row["latitude"]) + "', '"
    sql = sql + str(row["longitude"]) + "', '"
    sql = sql + str(row["smoker"]) + "', '"
    sql = sql + str(row["drink_level"]) + "', '"
    sql = sql + str(row["dress_preference"]) + "', '"
    sql = sql + str(row["ambience"]) + "', '"
    sql = sql + str(row["transport"]) + "', '"
    sql = sql + str(row["marital_status"]) + "', '"
    sql = sql + str(row["hijos"]) + "', '"
    sql = sql + str(row["birth_year"]) + "', '"
    sql = sql + str(row["interest"]) + "', '"
    sql = sql + str(row["personality"]) + "', '"
    sql = sql + str(row["religion"]) + "', '"
    sql = sql + str(row["activity"]) + "', '"
    sql = sql + str(row["color"]) + "', '"
    sql = sql + str(row["weight"]) + "', '"
    sql = sql + str(row["budget"]) + "', '"
    sql = sql + str(row["height"]) + "');"
    
    
    #print(sql)
    cursor.execute(sql)

NameError: name 'ca' is not defined

In [11]:
af = pd.read_csv('data/chefmozhours4.csv')
af.head()

   placeID         hours                  days
0   135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1   135111  00:00-23:30;                  Sat;
2   135111  00:00-23:30;                  Sun;
3   135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4   135110  00:00-00:00;                  Sat;

In [49]:
af = pd.read_csv('data/chefmozparking.csv')
af.head()

   placeID parking_lot
0   135111      public
1   135110        none
2   135109        none
3   135108        none
4   135107        none

In [ ]:
for index, row in af.iterrows():

    sql = "INSERT IGNORE INTO haz77.place"
    sql = sql + "(placeID)"
    sql = sql + "VALUES ('"
    sql = sql + str(int(row['placeID'])) 
    sql = sql + "');"
    
    #print(sql)
    cursor.execute(sql)

In [50]:
j = pd.read_csv('data/chefmozcuisine.csv')

In [40]:
for index, row in ad.iterrows():
    
    sql = "INSERT IGNORE INTO haz77.chefmozparking"
    sql = sql + "(fk_pa_placeID)"
    sql = sql + "VALUES ('"
    sql = sql + str(int(row['placeID'])) 
    sql = sql + "');"
    
    cursor.execute(sql)

C:\Users\Sihan Huang\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'parking_lot' doesn't have a default value")
  result = self._query(query)
C:\Users\Sihan Huang\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`haz77`.`chefmozparking`, CONSTRAINT `fk_pa_placeID` FOREIGN KEY (`fk_pa_placeID`) REFERENCES `place` (`placeID`) ON DELETE CASCADE ON UPDATE CASCADE)')
  result = self._query(query)

In [42]:
lg = pd.read_csv('data/chefmozparking.csv')

In [47]:
for index, row in lg.iterrows():
    
    
    sql = "INSERT INTO haz77.chefmozparking"
    sql = sql + "(fk_pa_placeID, parking_lot)"
    sql = sql + "VALUES ('" + str(row["placeID"]) + "', '"
    sql = sql + str(row["parking_lot"]) + "'); "
 
    
    #print(sql)
    cursor.execute(sql)

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`haz77`.`chefmozparking`, CONSTRAINT `fk_pa_placeID` FOREIGN KEY (`fk_pa_placeID`) REFERENCES `place` (`placeID`) ON DELETE CASCADE ON UPDATE CASCADE)')

In [5]:
ty = pd.read_csv('data/chefmozcuisine.csv')

In [6]:
for index,row in ty.iterrows():
    sql = " INSERT INTO haz77.chefmozcuisine"
    sql = sql + "(fk_cu_placeID, fk_cu_Rcuisine)"
    sql = sql + "VALUES ('" + str(int(row["placeID"])) + "', '"    
    sql = sql + str(row["Rcuisine"]) + "'); "
       
    #print(sql)
    cursor.execute(sql)

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`haz77`.`chefmozcuisine`, CONSTRAINT `fk_cu_placeID` FOREIGN KEY (`fk_cu_placeID`) REFERENCES `place` (`placeID`) ON DELETE CASCADE ON UPDATE CASCADE)')

In [11]:
ng = pd.read_csv('data/usercuisine.csv')

In [8]:
for index, row in ng.iterrows():
    sql = "INSERT INTO haz77.usercuisine"
    sql = sql + "(fk_c_userID, fk_c_Rcuisine)"
    sql = sql + "VALUES ('" + str(row["userID"]) + "', '"
    sql = sql + str(row["Rcuisine"]) + "'); "
    
    #print(sql)
    cursor.execute(sql)

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`haz77`.`usercuisine`, CONSTRAINT `fk_c_Rcuisine` FOREIGN KEY (`fk_c_Rcuisine`) REFERENCES `cuisine` (`Rcuisine`) ON DELETE CASCADE ON UPDATE CASCADE)')

In [5]:
bh = pd.read_csv('data/chefmozhours4.csv')
bh.head()

   placeID         hours                  days
0   135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1   135111  00:00-23:30;                  Sat;
2   135111  00:00-23:30;                  Sun;
3   135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4   135110  00:00-00:00;                  Sat;

In [9]:
for index, row in bh.iterrows():
    sql = "INSERT INTO haz77.chefmozhours4"
    sql = sql + "(fk_hr_placeID, hours, days)"
    sql = sql + "VALUES ('" + str(int(row["placeID"])) + "', '"
    sql = sql + str(row["hours"]) + "',' "
    sql = sql + str(row["days"]) + "'); "
    
    
    #print(sql)
    cursor.execute(sql)

In [84]:
xy =pd.read_csv('data/chefmozaccepts.csv')
xy.head()

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards